*{
    margin:0;
    padding:0;
}
.EventList{
    width:25%;
}

.EventCard{
    display:border-box;
    width:100%;
    margin:5px;
}
.CardImg{
    width:100%;
    min-height:50px;
    background-position:center;
    background-size:fill;
}
.CardTitle{
    font-size: 20px;
    font-weight:bold;
}
.CardDesc{
    font-style:italic;
}
.CardFooter{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.CardMembers{
    
}
.CardCreated{

}